* {
   font-family: 'Roboto', sans-serif; 
   box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
    background-color: aquamarine;
}

.content {
    width: 100vw;
    height: 100vh; 
    padding: 1rem;
    background-color: rgba(255, 228, 196, 0.927);
    border: 3px solid orangered;
}

.content h1 {
    margin: 0;
    margin-bottom: 10px;
}


