body {
    display: flex;
    justify-content: center;
    height: 95vh;
    background-image: url('https://cdn.custom-cursor.com/collections/129/cover-pokemon-preview.png');
    
}

.containerGeral {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 20px;
}

#card-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 68%;
    height: 100%;
    margin: auto;
}

#detalhe_pokemon_grande {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 65%;
    height: 100%;
}

.big-img {
    width: 31vw;
    height: 37vh; 
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 20px;
}

#bigDetalhe {
    width: 100%;
    margin-top: 0.7rem;
}


.detalhe {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.big-name {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
    margin-left: 5px;
    text-transform: capitalize;
    margin-top: 10px;
}

.big-number {
    color: #000;
    opacity: 0.2;
    font-size: 2.5rem;
    font-weight: 500;
    margin-left: 60px;
}

.img-Types {
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
}

.typesBig {
    width: 35%;
    height: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: -7px;
    padding: 5px;
}

.typeBig1 {
    display: flex;
    width: 80px;
    justify-content: center;
    border-radius: 8px;
    color: #FFF;
    filter: brightness(1.1);
    align-self: center;
}

.btnBig {
    width: 10vw;
    height: 2rem;
    margin-top: 10px;
    background-color: #8f8285;
    color: #fff;
    border-radius: 8px;
}

.footer {
    margin-top: 10px;
    display: flex;
    width: 93%;
    height: 39%;
}

.abilities {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    letter-spacing: 3px;
    font-size: 1rem;
    font-weight: 700;
    list-style: none;
    align-items: center;
    margin-right: 5px;

    border-radius: 10px;
    box-shadow: -1px -1px 3px #000;
}

.abilities h3 {
    align-self: center;
    color: #f8f6f1;
    text-shadow: black 0.4px 0.4px 0.4px;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.ability1, .ability2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.moves-div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 700;
    list-style: none;
    align-items: center;
    margin-left: 5px;

    border-radius: 12px;
    box-shadow: -1px -1px 3px #000;
}

.moves-div h3 {
    color: #f8f6f1;
    text-shadow: black 0.4px 0.4px 0.4px;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.moves1, .moves2, .moves3 {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.normal {
    background-color: #A8A878;;
}

.grass {

    background-color: #78C850;
}

.fire {
    background-color: #F08030;
}

.water {
    background-color: #6890F0;
}

.electric {
    background-color: #F8D030;
}

.ice {
    background-color: #98D8D8;
}

.ground {
    background-color: #E0C068;
}

.flying {
    background-color: #A890F0;
}

.poison {
    background-color: #A890F0;
}

.fighting {
    background-color: #C03028;
}

.psychic {
    background-color: #F85888;
}

.dark {
    background-color: #705848;
}

.rock {
    background-color: #B8A038;
}

.bug {
    background-color: #B8A038;
}

.ghost {
    background-color: #705898;
}

.steel {
    background-color: #B8B8D0;
}

.dragon {
    background-color: #7038F8;
}

.fairy {
    background-color: #EE99AC;
}

/*

@media screen and (min-width: 612px) and (max-width: 992px) {
    #card-big {
        width: 80%;
    }

    #detalhe_pokemon_grande {
        width: 85%;
    }
}

@media screen and (min-width: 470px) and (max-width: 611px) {
    #card-big {
        width: 95%;
        height: 95%;
    }

    #detalhe_pokemon_grande {
        width: 95%;
        height: 90%;
    }
}

@media screen and (max-width: 469px) {
    #card-big {
        width: 100%;
        height: 95%;
    }

    #detalhe_pokemon_grande {
        width: 100%;
        height: 90%;
    }
}

@media screen and (max-width: 680px) {
    .btnBig {
        width: 14vw;
    }
}
*/

@media screen and (min-width: 320px) and (max-width: 470px) {
    .containerGeral {
        width: 100%;
        height: 100%;
    }

    #detalhe_pokemon_grande {
        width: 149%;
        height: 92%;
    }

    .detalhe {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: -10px;
    }

    .big-img {
        width: 58vw;
        height: 37vh;
        margin-top: -3px;
        margin-left: 14px;
    }

    .big-number {
        font-size: 1.8rem;
        align-self: flex-end;
        margin-right: 8px;
        margin-top: 3px;
    }

    .big-name {
        font-size: 2.3rem;
        margin-left: -90px;
        margin-top: -21px;
        letter-spacing: 1px;
    }

    .footer {
        margin-top: 27px;
    }

    .moves-div h3 {
        text-align: center;
    }

    .btnBig {
        width: 16vw;
    }
}