.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title2 h4 {
   font-size: 1rem;
   color: brown;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.linkBig {
    text-decoration: none;
    cursor: default;
}

.pokemon {
    margin: 0.7rem;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    color: #FFFFFF;
}

.pokemon .detail img {
    max-width: 100%;
    height: 80px;
    align-self: flex-end;
}

.pokemon .number {
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: 0.25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pokemon .name {
    color: #fff;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    color: #fff;
    background-color: #8B4513;
    border: none;
    border-radius: 1rem;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    margin: 10px;
    cursor: pointer;
}

@media screen and (min-width: 992px) {
    .content {
     max-width: 992px;
     height: auto; 
     margin: 1rem auto;
     border-radius: 1rem;
    }
 }

@media screen and (min-width: 320px) {
    .content {
     min-width: 320px;
     height: auto; 
     margin: 1rem auto;
     border-radius: 1rem;
    }
 }

@media screen and (min-width: 380px) {
    .pokemons {
       grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
       grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
       grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 736px) {
    
    .title2 h4 {
        font-size: 0.8rem;
        color: brown;
     }
}

@media screen and (max-width: 580px) {
    
    .title2 h4 {
        font-size: 0.6rem;
        color: brown;
     }
}


.normal {
    background-color: #A8A878;;
}

.grass {

    background-color: #78C850;
}

.fire {
    background-color: #F08030;
}

.water {
    background-color: #6890F0;
}

.electric {
    background-color: #F8D030;
}

.ice {
    background-color: #98D8D8;
}

.ground {
    background-color: #E0C068;
}

.flying {
    background-color: #A890F0;
}

.poison {
    background-color: #A890F0;
}

.fighting {
    background-color: #C03028;
}

.psychic {
    background-color: #F85888;
}

.dark {
    background-color: #705848;
}

.rock {
    background-color: #B8A038;
}

.bug {
    background-color: #B8A038;
}

.ghost {
    background-color: #705898;
}

.steel {
    background-color: #B8B8D0;
}

.dragon {
    background-color: #7038F8;
}

.fairy {
    background-color: #EE99AC;
}


